<div class="py-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-start fixed-top">
        <img src="../../../assets/ico.png" class="mr-2" style="width: 40px; height: 40px;"><a class="navbar-brand order-1 order-lg-0 ml-lg-0 ml-2 mr-auto" [routerLink]="['/']">IT FonetServices</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse  justify-content-lg-end bg-dark p-3 p-lg-0 mt-5 mt-lg-0 "
            id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="">
                    <a class="nav-link menuBtn" [routerLink]="['/inicio']">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Órdenes de Servicio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="text-dark dropdown-item" [routerLink]="['/ordenes/crear']" *ngIf="authority == 'admin'">Generar</a>
                        <a class="text-dark dropdown-item" [routerLink]="['/ordenes/listar', user]" *ngIf="authority == 'admin'">Listar Órdenes</a>
                        <a class="text-dark dropdown-item" [routerLink]="['/ordenes/listar', user]" *ngIf="authority == 'user'">Listar Órdenes</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="authority == 'admin'">
                        Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="text-dark dropdown-item" [routerLink]="['/reportes']">Reporte de Órdenes</a>
                        <a class="text-dark dropdown-item d-none" [routerLink]="['/reportes/estadisticas']">Estadísticas</a>
                    </div>
                </li>
                <li class="d-none">
                    <a class="nav-link" [routerLink]="['/reportes/estadisticas']" *ngIf="authority == 'user'">Estadísticas</a>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="authority == 'admin'">
                        Herramientas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="menuBtn text-dark dropdown-item " [routerLink]="['/herramientas']">Materiales</a>
                        <a class="text-dark dropdown-item" [routerLink]="['/plataforma']">Plataforma</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="authority == 'admin'">
                        Ajustes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="text-dark dropdown-item" [routerLink]="['/ajustes']">Server Mikrowisp</a>
                        <a class="text-dark dropdown-item" [routerLink]="['/usuarios']">Usuarios</a>
                    </div>
                </li>
                <li class="">
                    <a class="nav-link" [routerLink]="['/login']" (click)="logOut()">Cerrar Sesión</a>
                </li>
            </ul>
            <!--
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            -->
        </div>
    </nav>

    <div class="overlay"></div>
</div>

<script src="../../../ezcri.js"></script>